.header {
    width: 100%;
}

.root {
    --color: black;
}

.container {
    width: 1200px;
    background-color: #fff;
    height: 90px;
    margin: 0 auto;
}

* {

    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;

}

.nav-ul .li {
    text-transform: uppercase;
    color: #83888F;
    font-family: 'Barlow', sans-serif;

}

.navbar__nav-logo {
    display: flex;
    padding-left: 20px;

}

.nav-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 400px;
}

.hero {
    width: 1200px;
    height: 670px;
    background-color: #a4a6aa;
    margin: 0 auto;
    border-radius: 18px;
    margin-top: 20px;
}

.hero .text1 {
    font-size: 72px;
    font-family: 'Fraunces', serif;
    padding-top: 120px;
    color: #fff;
    margin-left: 100px;
}

.hero .text2 {
    font-size: 72px;
    font-family: 'Fraunces', serif;
    margin-left: 100px;
    color: #fff;
}




.hero-p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    padding-top: 40px;
    padding-left: 100px;
}


.hero .first-button {
    width: 270px;
    height: 60px;
    margin-top: 70px;
    border-radius: 8px;
    border: none;
    background: #0E8784;
    color: #fff;
    font-family: 'Fraunces', serif;
    font-size: 18px;
    margin-left: 100px;

}

.intro .img-1 {
    margin-left: 30px;
    margin-top: 150px;
}

.intro .expresso1 {
    position: relative;
    top: -70px;
    left: 30px;
}

.intro .expresso2 {
    position: relative;
    top: -70px;
    left: 60px;
}

.intro .expresso3 {
    position: relative;
    top: -70px;
    left: 80px;
}

.intro .expresso4 {
    position: relative;
    top: -70px;
    left: 125px;
}

.intro .matn-qism {
    display: flex;
    justify-content: space-evenly;
    width: 1350px;
    font-size: 20px;
    font-family: 'Fraunces', serif;
    margin-left: -110px;
    color: #333D4B;
    margin-top: 30px;
}

.matn-qism .plan {
    margin-left: -30px;
}

.matn-qism .picc {
    margin-left: 20px;
}


.matn-qism .danche {
    margin-left: 30px;
}

.bottom-gran {
    font-family: 'Barlow';
    color: #556e92;
    margin-top: 60px;
    margin-left: 30px;
}



.bottom-gran .gran-title2 {
    margin-left: 10px;
    margin-top: 8px;

}

.bottom-gran .gran-title3 {
    margin-left: 80px;
    margin-top: 8px;
}

.bottom-plan {
    font-family: 'Barlow';
    margin-left: 320px;
    color: #556e92;
    margin-top: -67px;
}

.bottom-plan .plan-title2 {
    margin-left: -10px;
    margin-top: 8px;
}

.bottom-plan .plan-title3 {
    margin-left: 100px;
    margin-top: 8px;
}

.bottom-picc {
    font-family: 'Barlow';
    margin-left: 620px;
    color: #556e92;
    margin-top: -67px;

}

.bottom-picc .picc-title2 {
    margin-left: -5px;
    margin-top: 8px;
}

.bottom-picc .picc-title3 {
    margin-left: 85px;
    margin-top: 8px;
}

.bottom-danche {
    font-family: 'Barlow';
    margin-left: 920px;
    color: #556e92;
    margin-top: -67px;
}

.bottom-danche .danche-title2 {
    margin-left: -2px;
    margin-top: 8px;
}

.bottom-danche .danche-title3 {
    margin-left: 90px;
    margin-top: 8px;
}


.zero {
    width: 1200px;
    height: 700px;
    background-color: #333D4B;
    margin: 800px auto;
    border-radius: 10px;

}

.zero .title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-top: 141px;
    font-family: 'Fraunces', serif;
}

.text {
    text-align: center;
    font-size: 16px;
    margin-top: 60px;
}

.text .zerop-1 {
    color: #FEFCF7;
    opacity: 0.7;
}

.text .zerop-2 {
    color: #FEFCF7;
    opacity: 0.7;
    margin-left: -1px;
    margin-top: 10px;
}

.text .zerop-3 {
    color: #FEFCF7;
    opacity: 0.7;
    margin-left: -5px;
    margin-top: 10px;
}

.uch-kvadrat {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin-top: 170px;
}


.uch-kvadrat .birinchi-kvadrat {
    width: 340px;
    height: 390px;
    background-color: #0E8784;
    border-radius: 10px;

}

.uch-kvadrat .ikkinchi-kvadrat {
    width: 340px;
    height: 390px;
    background-color: #0E8784;
    border-radius: 10px;

}

.uch-kvadrat .uchinchi-kvadrat {
    width: 340px;
    height: 390px;
    background-color: #0E8784;
    border-radius: 10px;
}

.birinchi-kvadrat .picture {
    padding-left: 130px;
    padding-top: 80px;
}

.birinchi-kvadrat .sectence1 {
    color: #FEFCF7;
    font-size: 32px;
    font-family: 'Fraunces', serif;
    text-align: center;
    padding-top: 30px;
}

.birinchi-kvadrat .sectence2 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    margin-top: 40px;
    opacity: 0.7;
}

.birinchi-kvadrat .sectence3 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    opacity: 0.7;
    margin-top: 8px;
}

.birinchi-kvadrat .sectence4 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    opacity: 0.7;
    margin-top: 8px;

}


.ikkinchi-kvadrat .picture {
    padding-left: 130px;
    padding-top: 80px;
}


.ikkinchi-kvadrat .sentence1 {
    color: #FEFCF7;
    font-size: 32px;
    font-family: 'Fraunces', serif;
    text-align: center;
    padding-top: 30px;
}


.ikkinchi-kvadrat .sentence2 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    margin-top: 40px;
    opacity: 0.7;
}


.ikkinchi-kvadrat .sentence3 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    opacity: 0.7;
    margin-top: 8px;
}


.ikkinchi-kvadrat .sentence4 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    opacity: 0.7;
    margin-top: 8px;
}


.uchinchi-kvadrat .picture {
    padding-left: 130px;
    padding-top: 95px;
}


.uchinchi-kvadrat .sentence1 {
    color: #FEFCF7;
    font-size: 32px;
    font-family: 'Fraunces', serif;
    text-align: center;
    padding-top: 30px;
}



.uchinchi-kvadrat .sentence2 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    margin-top: 40px;
    opacity: 0.7;
}



.uchinchi-kvadrat .sentence3 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    opacity: 0.7;
    margin-top: 8px;
}



.uchinchi-kvadrat .sentence4 {
    font-family: 'Barlow';
    font-size: 16px;
    color: #FEFCF7;
    text-align: center;
    opacity: 0.7;
    margin-top: 8px;
}

.icon-hamburger {
    display: none;
}





@media only screen and (max-width: 768px) {


    .container {
        width: 750px;
    }

    .nav-ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        width: 320px;
    }


    .hero {
        width: 750px;
        height: 600px;
        background-image: url(./img/Bitmap\ \(17\).png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #fff;
    }



    .hero .text1 {
        font-size: 55px;

    }

.lorem {
    display: none;
}

    .hero .text2 {
        font-size: 55px;

    }

    .hero-p {
        font-size: 15px;
    }


    .intro .img-1 {
        margin-left: 5px;
        margin-top: 150px;
        width: 750px;

    }

    .intro .expresso1 {
        position: relative;
        top: -55px;
        left: 80px;
    }

    .intro .expresso2 {
        position: relative;
        top: 200px;
        left: -180px;
    }


    .intro .expresso3 {
        position: relative;
        top: 270px;
        left: 80px;
    }


    .intro .expresso4 {
        position: relative;
        top: 530px;
        left: -160px;
    }

    .intro .matn-qism {
        display: block;
        margin-left: 380px;
        margin-top: -400px;
        font-size: 20px;
    }

    .matn-qism .plan {
        margin-left: 3px;
        margin-top: 200px;
    }

    .matn-qism .picc {
        margin-left: 10px;
        margin-top: 230px;
    }

    .matn-qism .danche {
        margin-left: 10px;
        margin-top: 230px;
    }

    .bottom-gran {
        font-size: 14px;
        margin-left: 380px;
        margin-top: -730px;
    }

    .bottom-plan {
        margin-top: 200px;
        margin-left: 380px;
        font-size: 14px;
    }

    .plan-title2 {
        padding-left: 10px;
    }



    .bottom-picc {
        margin-left: 390px;
        margin-top: 190px;
        font-size: 14px;
    }

    .picc-title2 {
        padding-left: 6px;
    }

    .bottom-danche {
        margin-top: 190px;
        margin-left: 390px;
        font-size: 14px;

    }

    .bottom-gran .gran-title2 {
        margin-left: -1px;
    }

    .bottom-gran .gran-title3 {
        margin-left: 230px;
        margin-top: -17px;
    }


    .zero {
        margin-top: 1300px;
        width: 750px;
    }

    .zero .title {
        padding-top: 100px;
    }


    .uch-kvadrat {
        display: block;
        justify-content: space-evenly;
        width: 1200px;
        margin-top: 170px;
    }

    .uch-kvadrat .birinchi-kvadrat {
        width: 600px;
        height: 200px;
        margin-left: 80px;
        margin-top: -100px;
    }


    .birinchi-kvadrat .picture {
        padding-left: 70px;
        padding-top: 70px;
    }

    .birinchi-kvadrat .sectence1 {
        padding: 0;
        margin-top: -100px;
    }

    .birinchi-kvadrat .sectence2 {
        margin-top: 30px;
    }

    .birinchi-kvadrat .sectence3 {
        font-size: 15px;
        margin-left: 8px;
        text-align: none;
    }

    .birinchi-kvadrat .sectence4 {
        margin-left: 400px;
        margin-top: -46px;
    }

    .uch-kvadrat .ikkinchi-kvadrat {
        width: 600px;
        height: 200px;
        margin-left: 80px;
        margin-top: 10px;
    }

    .ikkinchi-kvadrat .picture {
        padding-left: 70px;
        padding-top: 70px;
    }

    .ikkinchi-kvadrat .sentence1 {
        padding: 0;
        margin-top: -100px;
    }

    .ikkinchi-kvadrat .sentence2 {
        margin-top: 30px;
    }

    .ikkinchi-kvadrat .sentence3 {
        font-size: 15px;
        margin-left: -12px;
        text-align: none;
    }

    .ikkinchi-kvadrat .sentence4 {
        margin-left: 400px;
        margin-top: -44px;
    }

    .uch-kvadrat .uchinchi-kvadrat {
        width: 600px;
        height: 200px;
        margin-left: 80px;
        margin-top: 10px;
    }

    .uchinchi-kvadrat .picture {
        padding-left: 70px;
        padding-top: 70px;
    }

    .uchinchi-kvadrat .sentence1 {
        padding: 0;
        margin-top: -100px;
    }

    .uchinchi-kvadrat .sentence2 {
        margin-top: 30px;
    }

    .uchinchi-kvadrat .sentence3 {
        font-size: 15px;
        margin-left: -12px;
        text-align: none;
    }

    .uchinchi-kvadrat .sentence4 {
        margin-left: 370px;
        margin-top: -46px;
    }


}


@media only screen and (max-width: 576px) {

    .container {
        width: 700px;
    }


    .icon-hamburger {
        display: block;
        font-size: 35px;
        margin-left: 275px;
    }



    .hero {
        width: 700px;
        height: 800px;
        background-image: url(./img/hero-bg-mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        border-radius: 18px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .nav-ul .li {
        text-transform: uppercase;
        color: #83888F;
        font-family: 'Barlow', sans-serif;
        display: none;
    }

    .nav-ul {
        margin-left: 100px;
    }


    .navbar__nav-logo {
        display: flex;
        padding-left: 40px;
    }

    .hero .text1 {
        font-size: 100px;
     }

    .hero .text2 {
           font-size: 100px;
     }

    .hero-p {
        font-size: 21px;
        padding-top: 40px;
        padding-left: 60px;
        
     }

     .lorem4 {
        display: block;
        margin-top: 10px; 
    }

    .lorem3 {
        display: block;
        margin-top: 10px; 
    }

    .lorem2 {
        display: block;
        margin-top: 10px; 
    }

    
.hero .first-button {
    width: 500px;
    height: 100px;
    margin-top: 70px;
    border-radius: 12px;
    border: none;
    background: #0E8784;
    color: #fff;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    margin-left: 100px;
    
}


 }




/* 
.hero {
    width: 750px;
    height: 600px;
    background-image: url(./img/Bitmap\ \(17\).png);   
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
} */